@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.eot');
    src: local('fonts/TTLakes-Regular'), local('TTLakes-Regular'),
        url('fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'TT Lakes-Bold';
    src: url('fonts/TTLakes-Bold.eot');
    src: local('fonts/TTLakes-Bold'), local('TTLakes-Bold'),
            url('fonts/TTLakes-Bold.woff') format('woff'),
            url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;}

@media (min-width: 320px) {   
body{
     font-family: 'TT Lakes';
     font-size: 14px;
     width: auto;
     background-color: #F8F8F8;
}
.navigation-panel{
     display: flex;
     justify-content:center;  
     justify-content:space-evenly;
     align-items:center;
     background-color: #FFFFFF;
     box-sizing: border-box;
     height: 88px;
     width: auto;
}
.navigation-panel__elem{
     height: 40px ;
     width: 40px ;
}
.navigation-panel__elem768{
 display: none;
}
.navigation-panel__logo{
     height: 50px ;
     width: 96px ;
}
.navigation-panel__separator{
     height: 32px ;
     width: 2px ;
}
.title{
     display: flex;
     justify-content: flex-start ;
     margin-top: 24px;
     margin-bottom: 20px;
}
.title__elem1{
     width: 4px;
     left: 4px;
     top: 22.22%;
     bottom: 69.84%;
     height: 40px;
     background: #41F6D7;
     transform: matrix(-1, 0, 0, 1, 0, 0);
}
.title__elem2{
     font-family: 'TT Lakes-Bold';
     font-size: 28px;
     margin-right: 16px;
     margin-left: 16px;
     font-size: 28px;
     line-height: 40px;
     letter-spacing: -0.6px;
     color: #1B1C21;
}
.title__icon{
     display: none;
}
.title__img{
     display: none;
  }
.company-submenu{
display: flex;
justify-content: flex-start ;
overflow: auto;
}
.company-submenu__repair{
     text-align: center;
     border: 2px solid #B8FFEC;
     box-sizing: border-box;
     border-radius: 6px; 
     font-size: 16px;
     line-height: 24px;
     letter-spacing: -0.2px;
     color: #7E7E82;
     padding: 8px 10px 8px 10px;
     margin:5px;
     white-space:nowrap;
}
.company-submenu__services{
     box-sizing: border-box;
     border-radius: 6px; 
     text-align: center;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: -0.2px;
     color: #7E7E82;
     padding: 8px 10px 8px 10px;
     margin:5px;
     white-space:nowrap;
}
.About-company{
     height: 90px;
     margin-top: 5%;
     margin-left: 5%;
     margin-right: 5%;
     font-size: 14px;
     line-height: 18px;
     letter-spacing: 0.2px;
     color: #1B1C21;
}

.About-company__continued{
     display: flex;
     justify-content: flex-start ;
     align-items:center; 
    
} 
.About-company__read-next{
     font-size: 16px;
     line-height: 24px;
     letter-spacing: -0.2px;
     color: #1B1C21;
     margin-left: 1%;
}
.About-company__cps-img img{
     width: 100%;
     height: auto;
   }
}


@media (min-width: 768px) {
    body{
        font-family: 'TT Lakes';
        font-size: 14px;
        width: auto;
        background-color: #F8F8F8;
   }
   .navigation-panel{
        display: flex;
        justify-content: flex-start ;
        justify-content:space-evenly;
        background-color: #FFFFFF;
        box-sizing: border-box;
        height: 88px;
        width: auto;
   }
   .navigation-panel__elem{
        height: 40px ;
        width: 40px ;
        justify-content: flex-start ;
        margin-left: 2%;

   }
   .navigation-panel__elem768{
    display:block;
    margin-left: 2%;
   }
   .navigation-panel__logo{
       margin-right: auto;
       margin-left: 2%;
        height: 50px ;
        width: 96px ;
   }
   .navigation-panel__separator{
        margin-left: 2%;
        height: 32px ;
        width: 2px ;
   }
   .title{
        display: flex;
        justify-content: flex-start ;
        margin-top: 24px;
   }
   .title__elem1{
        width: 4px;
        left: 4px;
        top: 22.22%;
        bottom: 69.84%;
        height: 40px;
        background: #41F6D7;
        transform: matrix(-1, 0, 0, 1, 0, 0);
   }
   .title__elem2{
        margin-right: 16px;
        margin-left: 16px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1B1C21;
   }
   .company-submenu{
   display: flex;
   justify-content: flex-start ;
   overflow: auto;
   }
   .company-submenu__repair{
        text-align: center;
        border: 2px solid #B8FFEC;
        box-sizing: border-box;
        border-radius: 6px; 
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        padding: 8px 10px 8px 10px;
        margin:5px;
        white-space:nowrap;
   }
   .company-submenu__services{
        box-sizing: border-box;
        border-radius: 6px; 
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        padding: 8px 10px 8px 10px;
        margin:5px;
        white-space:nowrap;
   }
   .About-company{
         display: flex;
         justify-content: flex-start;
         height: 90px;
         margin-top: 5%;
         margin-left: 5%;
         margin-right: 5%;
         font-size: 14px;
         line-height: 18px;
         letter-spacing: 0.2px;
         color: #1B1C21;
   } 
   .About-company__text {
     margin-right: 2%;
     min-width: 50%;
 }
   .About-company__continued{
        display: flex;
        justify-content: flex-start ;
        align-items:center; 
       
   } 
   .About-company__read-next{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        margin-left: 1%;
   }
   .About-company__cps-img img{
     height: auto;
    border-radius: 5px;
   }
}


@media (min-width: 1120px) {
    body{
        font-family: 'TT Lakes';
        font-size: 14px;
        width: auto;
        background-color: #F8F8F8;
   }
   .navigation-panel{
        display: flex;
        justify-content:center;  
        justify-content:space-evenly;
        align-items:center;
        display: none;
        
        background-color: #FFFFFF;
        box-sizing: border-box;
        height: 88px;
        width: auto;
   }
   .navigation-panel__elem{
        height: 40px ;
        width: 40px ;
   }
   .navigation-panel__logo{
        height: 50px ;
        width: 96px ;
   }
   .navigation-panel__separator{
        height: 32px ;
        width: 2px ;
   }
   .title{
        display: flex;
        justify-content: flex-start ;
        align-items:center;
        margin-top: 40px;
   }
   .title__elem1{
        width: 4px;
        left: 4px;
        top: 22.22%;
        bottom: 69.84%;
        height: 40px;
        background: #41F6D7;
        transform: matrix(-1, 0, 0, 1, 0, 0);
   }
   .title__elem2{
        margin-right: 16px;
        margin-left: 16px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1B1C21;
        margin-right: auto;
        
   }
   .title__icon{
     display: block;
     font-family: 'TT Lakes';
     font-size: 16px;
     margin-right: 8px;
     margin-left: 32px;
   }
   .title__img{
      display: block;
   }
   .company-submenu{
   display: flex;
   justify-content: flex-start ;
   flex-wrap: wrap;
   overflow: auto;
   }
   .company-submenu__repair{
        text-align: center;
        border: 2px solid #B8FFEC;
        box-sizing: border-box;
        border-radius: 6px; 
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        padding: 8px 10px 8px 10px;
        margin:5px;
        white-space:nowrap;
   }
   .company-submenu__services{
        box-sizing: border-box;
        border-radius: 6px; 
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #7E7E82;
        padding: 8px 10px 8px 10px;
        margin:5px;
        white-space:nowrap;
   }
   .About-company{
         display: flex;
         justify-content: flex-start;
         height: auto;
         margin-top: 5%;
         margin-left: 5%;
         margin-right: 5%;
         font-size: 14px;
         line-height: 18px;
         letter-spacing: 0.2px;
         color: #1B1C21;
   }
   .About-company__text {
       margin-right: 2%;
       width: 50%;
   }
   .About-company__continued{
        display: flex;
        justify-content: flex-start ;
        align-items:center; 
        
       
   } 
   .About-company__read-next{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        margin-left: 1%;
   }
   .About-company__cps-img {
    width: 50%;
   }
   .About-company__cps-img img{
    border-radius: 5px;
    width: 100%;
    height: auto;
   }
}
